Proyecto Final TecnoBencina/PFT5447-005V-4/2.- ASP.NET C# - WCF SOAP Service + WPF Aplication/Solucion TecnoBencina/TecnoBencina.WPF/Service References/TecnoBencinaSrv/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38360/Servicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Venta" nillable="true" type="tns:Venta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenta" nillable="true" type="tns:ArrayOfVenta" />
  <xs:complexType name="Venta">
    <xs:sequence>
      <xs:element minOccurs="0" name="anulacion" nillable="true" type="tns:Anulacion" />
      <xs:element minOccurs="0" name="beneficiarioCredito" nillable="true" type="tns:BeneficiarioCredito" />
      <xs:element minOccurs="0" name="combustible" nillable="true" type="tns:Combustible" />
      <xs:element minOccurs="0" name="estado" type="tns:EstadoVenta" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="litros" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:int" />
      <xs:element minOccurs="0" name="surtidor" nillable="true" type="tns:Surtidor" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="vale" nillable="true" type="tns:Vale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venta" nillable="true" type="tns:Venta" />
  <xs:complexType name="Anulacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="razon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anulacion" nillable="true" type="tns:Anulacion" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="amaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apatrno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="tns:Rol" />
      <xs:element minOccurs="0" name="rut" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permisos" nillable="true" type="tns:ArrayOfPermiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol" />
  <xs:complexType name="ArrayOfPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permiso" nillable="true" type="tns:Permiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermiso" nillable="true" type="tns:ArrayOfPermiso" />
  <xs:complexType name="Permiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permiso" nillable="true" type="tns:Permiso" />
  <xs:complexType name="BeneficiarioCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="dv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="limiteVigencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:int" />
      <xs:element minOccurs="0" name="topeLitros" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeneficiarioCredito" nillable="true" type="tns:BeneficiarioCredito" />
  <xs:complexType name="Combustible">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadPorSurtidor" type="xs:decimal" />
      <xs:element minOccurs="0" name="cantidadTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioActual" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Combustible" nillable="true" type="tns:Combustible" />
  <xs:simpleType name="EstadoVenta">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sin_confirmar" />
      <xs:enumeration value="confirmada" />
      <xs:enumeration value="anulada" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoVenta" nillable="true" type="tns:EstadoVenta" />
  <xs:complexType name="Surtidor">
    <xs:sequence>
      <xs:element minOccurs="0" name="combustibles" nillable="true" type="tns:ArrayOfCombustible" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Surtidor" nillable="true" type="tns:Surtidor" />
  <xs:complexType name="ArrayOfCombustible">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Combustible" nillable="true" type="tns:Combustible" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCombustible" nillable="true" type="tns:ArrayOfCombustible" />
  <xs:complexType name="Vale">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadLitros" type="tns:CantidadLitros" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vale" nillable="true" type="tns:Vale" />
  <xs:simpleType name="CantidadLitros">
    <xs:restriction base="xs:string">
      <xs:enumeration value="diez">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="veinte">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="treinta">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CantidadLitros" nillable="true" type="tns:CantidadLitros" />
  <xs:complexType name="ArrayOfRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rol" nillable="true" type="tns:Rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRol" nillable="true" type="tns:ArrayOfRol" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="dv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:decimal" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ArrayOfTalonario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Talonario" nillable="true" type="tns:Talonario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTalonario" nillable="true" type="tns:ArrayOfTalonario" />
  <xs:complexType name="Talonario">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" nillable="true" type="tns:Empresa" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="numComprobanteTransaccion" type="xs:int" />
      <xs:element minOccurs="0" name="vales" nillable="true" type="tns:ArrayOfVale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Talonario" nillable="true" type="tns:Talonario" />
  <xs:complexType name="ArrayOfVale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vale" nillable="true" type="tns:Vale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVale" nillable="true" type="tns:ArrayOfVale" />
  <xs:complexType name="ArrayOfHistorialPrecio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistorialPrecio" nillable="true" type="tns:HistorialPrecio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistorialPrecio" nillable="true" type="tns:ArrayOfHistorialPrecio" />
  <xs:complexType name="HistorialPrecio">
    <xs:sequence>
      <xs:element minOccurs="0" name="combustible" nillable="true" type="tns:Combustible" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorialPrecio" nillable="true" type="tns:HistorialPrecio" />
  <xs:complexType name="ArrayOfSurtidor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Surtidor" nillable="true" type="tns:Surtidor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurtidor" nillable="true" type="tns:ArrayOfSurtidor" />
  <xs:complexType name="ArrayOfBeneficiarioCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BeneficiarioCredito" nillable="true" type="tns:BeneficiarioCredito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeneficiarioCredito" nillable="true" type="tns:ArrayOfBeneficiarioCredito" />
  <xs:complexType name="ArrayOfAnulacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anulacion" nillable="true" type="tns:Anulacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnulacion" nillable="true" type="tns:ArrayOfAnulacion" />
</xs:schema>