Proyecto Final TecnoBencina/PFT5447-005V-4/2.- ASP.NET C# - WCF SOAP Service + WPF Aplication/Solucion TecnoBencina/TecnoBencina.WPF/Service References/TecnoBencinaSrv/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38360/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" />
  <xs:import schemaLocation="http://localhost:38360/Servicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ListarVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarVentasResult" nillable="true" type="q1:ArrayOfVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarVentaResult" nillable="true" type="q2:Venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVentaConVale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idVale" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVentaConValeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarVentaConValeResult" nillable="true" type="q3:Venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_idSurtidor" type="xs:int" />
        <xs:element minOccurs="0" name="_litros" type="xs:int" />
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
        <xs:element minOccurs="0" name="_rutUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="_idVale" type="xs:int" />
        <xs:element minOccurs="0" name="_idBeneficiario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="CreateVentaResult" nillable="true" type="q4:Venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="_estado" type="q5:EstadoVenta" />
        <xs:element minOccurs="0" name="_rutUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="_razon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusVentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantLtsVendidosPorComb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
        <xs:element minOccurs="0" name="_fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_fechaTermino" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantLtsVendidosPorCombResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cantLtsVendidosPorCombResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantLtsVendidosPorCombuEnSurtidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
        <xs:element minOccurs="0" name="_idSurtidor" type="xs:int" />
        <xs:element minOccurs="0" name="_fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_fechaTermino" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantLtsVendidosPorCombuEnSurtidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cantLtsVendidosPorCombuEnSurtidorResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarPermisosResult" nillable="true" type="q6:ArrayOfPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisosPorRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idRol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPermisosPorRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarPermisosPorRolResult" nillable="true" type="q7:ArrayOfPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarRolResult" nillable="true" type="q8:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarRolesResult" nillable="true" type="q9:ArrayOfRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarUsuariosResult" nillable="true" type="q10:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarUsuarioResult" nillable="true" type="q11:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_dv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_nombres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_apaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_amaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_nombres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_apaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_amaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_passAntigua" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_passNueva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_permission" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasPermissionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaRut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_dv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaRutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaRutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarEmpresasResult" nillable="true" type="q12:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTalonariosPorEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rutEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTalonariosPorEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarTalonariosPorEmpresaResult" nillable="true" type="q13:ArrayOfTalonario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarEmpresaResult" nillable="true" type="q14:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_dv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_rutUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_rutUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorialPrecio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorialPrecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarHistorialPrecioResult" nillable="true" type="q15:ArrayOfHistorialPrecio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorialPrecioPorCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHistorialPrecioPorCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarHistorialPrecioPorCombustibleResult" nillable="true" type="q16:ArrayOfHistorialPrecio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorialPrecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorialPrecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarHistorialPrecioResult" nillable="true" type="q17:HistorialPrecio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPrecioActualDeCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPrecioActualDeCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarPrecioActualDeCombustibleResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHistorialPrecioCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_precio" type="xs:decimal" />
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHistorialPrecioCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateHistorialPrecioCombustibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHistorialPrecioCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_precio" type="xs:decimal" />
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHistorialPrecioCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHistorialPrecioCombustibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCombustibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCombustiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarCombustiblesResult" nillable="true" type="q18:ArrayOfCombustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarCombustibleResult" nillable="true" type="q19:Combustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCombustiblesPorSurtidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idSurtidor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCombustiblesPorSurtidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarCombustiblesPorSurtidorResult" nillable="true" type="q20:ArrayOfCombustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalLitosPorCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalLitosPorCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TotalLitosPorCombustibleResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CantidadDeCombustiblePorSurtidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
        <xs:element minOccurs="0" name="_idSurtidor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CantidadDeCombustiblePorSurtidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CantidadDeCombustiblePorSurtidorResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCombustibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusCombustibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSurtidores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSurtidoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarSurtidoresResult" nillable="true" type="q21:ArrayOfSurtidor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSurtidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSurtidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarSurtidorResult" nillable="true" type="q22:Surtidor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSurtidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSurtidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSurtidorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusSurtidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusSurtidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusSurtidorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarORemoverCombusible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idSurtidor" type="xs:int" />
        <xs:element minOccurs="0" name="_litros" type="xs:int" />
        <xs:element minOccurs="0" name="_idCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarORemoverCombusibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargarORemoverCombusibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTalonarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTalonariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarTalonariosResult" nillable="true" type="q23:ArrayOfTalonario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTalonario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTalonarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarTalonarioResult" nillable="true" type="q24:Talonario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTalonarioDeVale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idVale" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTalonarioDeValeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarTalonarioDeValeResult" nillable="true" type="q25:Talonario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTalonario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_fechaEntrega" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_numComprobanteTransaccion" type="xs:int" />
        <xs:element minOccurs="0" name="_rutEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTalonarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTalonarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTalonario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_fechaEntrega" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_numComprobanteTransaccion" type="xs:int" />
        <xs:element minOccurs="0" name="_rutEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTalonarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTalonarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusTalonario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusTalonarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusTalonarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarValeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarValeResult" nillable="true" type="q26:Vale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarValesPorTalonario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idTalonario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarValesPorTalonarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarValesPorTalonarioResult" nillable="true" type="q27:ArrayOfVale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="_cantLitros" type="q28:CantidadLitros" />
        <xs:element minOccurs="0" name="_idTalonario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateValeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateValeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MassCreateVale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="_cantLitros" type="q29:CantidadLitros" />
        <xs:element minOccurs="0" name="_idTalonario" type="xs:int" />
        <xs:element minOccurs="0" name="_cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MassCreateValeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MassCreateValeResult" nillable="true" type="q30:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="_cantidadLitos" type="q31:CantidadLitros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateValeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateValeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusVale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusValeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusValeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBeneficiarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBeneficiariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarBeneficiariosResult" nillable="true" type="q32:ArrayOfBeneficiarioCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarBeneficiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarBeneficiarioResult" nillable="true" type="q33:BeneficiarioCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBeneficiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_rut" type="xs:int" />
        <xs:element minOccurs="0" name="_dv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_tope_litros" type="xs:int" />
        <xs:element minOccurs="0" name="_limite_vigencia" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_nombreEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_estado" type="xs:boolean" />
        <xs:element minOccurs="0" name="_rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBeneficiarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeneficiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_tope_litros" type="xs:int" />
        <xs:element minOccurs="0" name="_limiteVigencia" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_nombreEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBeneficiarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusBeneficiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchStatusBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchStatusBeneficiarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeneficiarioIsOverLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idBeneficiario" type="xs:int" />
        <xs:element minOccurs="0" name="_cantidadLitros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeneficiarioIsOverLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeneficiarioIsOverLimitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnulaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnulacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="ListarAnulacionesResult" nillable="true" type="q34:ArrayOfAnulacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAnulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAnulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TecnoBencina.Negocio" minOccurs="0" name="BuscarAnulacionResult" nillable="true" type="q35:Anulacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_razon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_rutUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAnulacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>