ASP.NET C#/Solucion Banco Amigo/Banco.Web/Service References/BancoSvc/BancoServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Banco.Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Banco.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransferencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transferencia" nillable="true" type="tns:Transferencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransferencia" nillable="true" type="tns:ArrayOfTransferencia" />
  <xs:complexType name="Transferencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="idTransferencia" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:int" />
      <xs:element minOccurs="0" name="nroCuentaDestinatario" type="xs:int" />
      <xs:element minOccurs="0" name="rutDestinatario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transferencia" nillable="true" type="tns:Transferencia" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rutCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>