ASP.NET C#/Solucion Banco Amigo/Banco.Web/Service References/BancoSvc/BancoServ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50045/BancoServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Banco.Negocio" />
  <xs:element name="VerificarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTransferenciasPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTransferenciasPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Banco.Negocio" minOccurs="0" name="buscarTransferenciasPorClienteResult" nillable="true" type="q1:ArrayOfTransferencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Banco.Negocio" minOccurs="0" name="buscarClienteResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgergarTransferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idTransferencia" type="xs:int" />
        <xs:element minOccurs="0" name="_rutCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_rutDestinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_nroCuentaDestinatario" type="xs:int" />
        <xs:element minOccurs="0" name="_monto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgergarTransferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgergarTransferenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rutUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_nombreCompleto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNombreUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTransferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_idTransferencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTransferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarTransferenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>